<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <bean id="userRepo" class="UserDBRepository">
        <constructor-arg value="Server/src/main/resources/server.properties"/>
    </bean>
    <bean id="masinaRepo" class="MasinaDBRepository">
        <constructor-arg value="hibernate.cfg.xml"/>
    </bean>

    <!--<bean id="inscVal" class="validator.InscriereValidator"/>-->

    <bean id="trecereRepo" class="TrecereDBRepository">
        <constructor-arg value="Server/src/main/resources/server.properties"/>

    </bean>

    <!--<bean id="probaVal" class="validator.ProbaValidator"/>-->

    <!--<bean id="probaRepo" class="repository.ProbaDBRepository">-->
        <!--<constructor-arg ref="probaVal"/>-->
        <!--<constructor-arg value="InscriereServer/src/main/resources/server.properties"/>-->

    <!--</bean>-->
    <bean id="service" class="Service">
        <constructor-arg index="0" ref="userRepo"/>
        <constructor-arg index="1" ref="masinaRepo"/>
        <constructor-arg index="2" ref="trecereRepo"/>
    </bean>


    <bean class="org.springframework.remoting.rmi.RmiServiceExporter">
        <property name="serviceName" value="Practic"/>
        <property name="service" ref="service"/>
        <property name="serviceInterface" value="IService"/>
        <property name="servicePort" value="1099"/>
    </bean>


</beans>